"*":
  "atom-material-ui":
    fonts: {}
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui: {}
  core:
    destroyEmptyPanes: false
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    invisibles:
      eol: " "
      tab: " "
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    tabLength: 4
    tabType: "hard"
  "file-icons": {}
  "highlight-selected": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
