atom-text-editor::shadow .hard-tab {
	text-decoration: line-through;
}
atom-text-editor::shadow .indent-guide {
	box-shadow: inset 1px 0 rgba(48, 64, 71, 0.2);
}
atom-pane-resize-handle::before {
	background: #009688!important;
	opacity: 0.3!important;
}
.tree-view-resize-handle {
	background: #009688;
	width: 0.2rem!important;
	opacity: 0.3;
}
